@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-danger shadow-lg">
    <div class="card-body">
        <h3 class="text-white">¿Desea eliminar la encuesta "@ViewBag.Titulo" ?</h3>
        <div class="bg-danger float-right">

            @using (Html.BeginForm("_Delete", "Encuesta", new { id = ViewBag.id }, FormMethod.Post))
            {
                <a href="@Url.Action("Index","Home")" class="btn btn-secondary">No</a>
                <button type="submit" class="btn btn-success">Sí</button>
            }
        </div>
    </div>
</div>

